.header {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 1.7rem;
}

.links {
  display: none;
}

@media screen and (min-width: 768px) {
  .links {
    display: block;
  }
}
